/.AgregarAccionConsecuenciaAppModel.java._trace
/.AgregarAccionDeIrAOtraHabitacionConsecuenciaAppModel.java._trace
/AgregarAccionConsecuenciaAppModel.java
/AgregarAccionDeIrAOtraHabitacionConsecuenciaAppModel.java
