/.AgregarAccionConsecuenciaAppModel.java._trace
/.AgregarAccionDeIrAOtraHabitacionConsecuenciaAppModel.java._trace
/AgregarAccionConsecuenciaAppModel.java
/AgregarAccionDeIrAOtraHabitacionConsecuenciaAppModel.java
/.WindowAgregarAccionDeAgarrarUnElementoConsecuenciaAppModel.java._trace
/WindowAgregarAccionDeAgarrarUnElementoConsecuenciaAppModel.java
/.AgregarAccionDeAgarrarUnElementoConsecuenciaAppModel.java._trace
