/.Accion.java._trace
/.Habitacion.java._trace
/.Item.java._trace
/.Juego.java._trace
/.Jugador.java._trace
/.Laberinto.java._trace
/Accion.java
/Habitacion.java
/Item.java
/Juego.java
/Jugador.java
/Laberinto.java
/.Estado.java._trace
