/.NoEstaDisponibleEstaAccionException.java._trace
/.NoHasGanadoException.java._trace
/.NoHayItemNecesarioException.java._trace
/.NoSePuedeAgregarItemAlInventarioException.java._trace
/NoEstaDisponibleEstaAccionException.java
/NoHasGanadoException.java
/NoHayItemNecesarioException.java
/NoSePuedeAgregarItemAlInventarioException.java
/.YaHayUnaHabitacionInicialEnElLaberinto.java._trace
